<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bookku</title>
    <link rel="stylesheet" href="/simple.min.css">
  </head>
  <body>
    <header>
      <h1>bookku</h1>
    </header>
    <main>
      <form action="/__" method="post">
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
        {{#error}}
            <p><strong>{{.}}</strong></p>
        {{/error}}
        <p><label>slug: <input name="slug" value="{{slug}}"></label></p>
        <p><label>target: <input name="target" value="{{target}}"></label></p>
        <p><button>add bookmark</button></p>
      </form>
    </main>
    <footer>
      <p>redirect url: <a href="{{redirect}}">{{redirect}}</a></p>
      <p>bookmarklet: <a href="{{bookmarklet}}">{{bookmarklet}}</a></p>
      <pre>{{version}}
{{revision}}</pre>
    </footer>
  </body>
</html>
