<!DOCTYPE html>
<html>
  <head>
    <title>bookku</title>
    <link rel="stylesheet" href="/simple.min.css">
  </head>
  <body>
    <form action="/__/b" method="post">
      <input name="slug">
      <input name="target">
      {{#_csrf}}
      <input type="hidden" name="{{parameterName}}" value="{{token}}">
      {{/_csrf}}
      <input type="submit">
    </form>
  </body>
</html>
